body{
	background-image: url(images/background2.jpg);
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size:1700px;
	width: 1500px;
}
h1{
	display: block;
	margin: auto;
	text-align: center;
	color: white;
	width: 300px;
	height: 42px;
	background-color: deepskyblue;
}
h3{
	text-align: right;
	color:lightblue;
	font-weight: 700;
}
table{
	width: 1000px;
	height: 250px;
	color: white;
}
hr{
	border-width: 5px;
	color: white;
	width: 1500px;
}
#p1{
	font-size: 24px;
}
#p3{
	font-size: 24px;
	font-weight: 700;
}
#ps{
	color: red;
	font-weight: 500;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: chocolate;
	font-weight: 500;
	font-size: 16px;
}
#outdiv{
	width:1500px ;
	height: 700px;
}
#div1{
	margin-left: 10px;
	width: 200px;
	height: 700px;
	background-size: cover;
	background-color: skyblue;
	float: left;
	opacity: 0.8;
}
#div2{
	margin-right: 30px;
	width: 1200px;
	height: 700px;
	background-size: cover;
	background-color: white;
	float: right;
	opacity: 0.6;
}
#aj{
	font-size: 18px;
	font-weight: 400;
	margin-left: 2%;
	color: blue;
}
#pr{
	margin-left: 20px;
}
#pjieguo{
	margin-left: 20px;
}
#button1{
	width: 80px;
	height: 40px;
	margin-left: 120px;
	font-size: 20px;
	font-weight: 700;
}
#areturn{
	text-decoration: none;
	color: red;
	font-weight: 600;
	font-size: 25px;
}
#divrule{
	float: right;
	margin-right: 100px;
}
#divs{
	float: left;
	width: 500px;
	height: 700px;
}
#prule{
	font-weight: 700;
	font-size: 17px;
	color: red;
}
#divzhuti{
	width: 1200px;
	height: 700px;
}
#jsjg{
	display: inline;
}