body{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size:1700px;
	width: 1500px;
}
h1{
	text-align: center;
	color: white;
}
h4{
	text-align: right;
	color: white;
}
table{
	width: 1000px;
	height: 250px;
	color: white;
}
hr{
	border-width: 5px;
	color: white;
	width: 1500px;
}
#p1{
	font-size: 24px;
}
#p2{
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}
#p3{
	font-size: 24px;
	font-weight: 700;
}
a{
	text-decoration: none;
	color: chocolate;
	font-weight: 500;
	font-size: 16px;
}
#outdiv{
	width:1500px ;
	height: 700px;
}
#div1{
	margin-left: 10px;
	width: 200px;
	height: 700px;
	background-size: cover;
	background-color: skyblue;
	float: left;
	opacity: 0.8;
}
#div2{
	margin-right: 30px;
	width: 1200px;
	height: 700px;
	background-size: cover;
	background-color: white;
	float: right;
}

#pz{
	font-size: 30px;
	font-weight: 1000;
	margin-left: 4%;
}
#pzz{
	font-size: 18px;
	font-weight: 400;
	margin-left: 6%;
}
#aj{
	font-size: 18px;
	font-weight: 400;
	margin-left: 2%;
	color: blue;
}
#divq{
	width: 200px;
	height: 330px;
	float: left;
	margin-left: 200px;
}
#weiz{
	width: 300px;
	height: 330px;
	float: right;
	margin-right: 200px;
}
#lastout{
	width: 1200px;
	height: 330px;
	
}